@import "../../styles/media.scss";
.itemWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    .postItem{
        width: 600px;
        margin: 20px 0px 20px 180px;
        min-width: 400px;
        max-height: 500px;
        text-align: left;
    }
    .nonIdealState{
        margin-top: 100px;
    }
}
.signin{
    width: 80px;
    height: 22px;
    align-self: flex-end;
}
.searchWrapper{
    margin-top: 78px;
    position: fixed;
    background-color: white;
    .search{
        display: block;
        text-align: center;
    }

}

@include mobile{
    .itemWrapper{
        .postItem{
            width: calc(100% - 40px);
            margin: 20px 20px 20px 20px;
            min-width: 0px;
            max-width: 600px;
        }
    }
}

@include tablet{
    .itemWrapper{
        .postItem{
            width: calc(100% - 160px);
            margin: 20px 20px 20px 80px;
            min-width: 0px;
            max-width: 600px;
        }
    }
}