.cardWrapper{
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    width: 100%;
    .card{
        width: 400px;
        align-self: center;
        margin:20px 0px;
        min-width: 400px;
        max-height: 500px;
        text-align: left;
    }
}
.signin{
    width: 80px;
    height: 22px;
    align-self: flex-end;
}
.searchWrapper{
    margin-top: 78px;
    position: fixed;
    background-color: white;
    .search{
        display: block;
        text-align: center;
    }

}