@import "../../styles/media.scss";
.content{
    width: 700px;
    justify-self: center;
}
.tag{
    margin-left: 10px;
}
.postContent{
    margin-top: 30px;
}
@include mobile{
    .content{
        width: 100%;
        padding: 20px;
        margin-bottom: 80px;
    }
}