@import "../../styles/media.scss";
.topbar-fixed{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    // border-bottom: 1px solid $light-gray1;
    transition: top 0.3s;
}

.header{
    width: 100%;
    text-align: left;
    margin: 0px;
    margin-left: 180px;
    font-size: 18px;
    font-family: BMEULJIRO;
    color: #2965CC;
}

.searchWrapper{
    width: 400px;
    margin-top: 20px;
    display: flex;
    margin-left: 180px;
    position: relative;
    
}

.buttonWrapper{
    position: absolute;
    display: flex;
    right: 20px;
    .signin{
        width: 80px;
        height: 22px;
        margin-left: 16px;
        position: relative;
    }
}

@include mobile{
    .header{
        margin-left: 20px;
    }
    .searchWrapper{
        width: calc(100% - 40px);
        margin-left: 20px;
    }
}

@include tablet{
    .header{
        margin-left: 80px;
    }
    .searchWrapper{
        // width: calc(100% - 40px);
        margin-left: 80px;
    }
}
