@import "~@blueprintjs/core/lib/scss/variables";
.topbar-fixed{
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    border-bottom: 1px solid $light-gray1;
    transition: top 0.3s;
}

.header{
    width: 100%;
    text-align: left;
    margin: 0px;
    margin-left: 180px;
    font-size: 18px;
}

.searchWrapper{
    width: 400px;
    margin-top: 20px;
    display: flex;
    margin-left: 180px;
    // align-self: left;
    position: relative;
    // justify-content: center;
    
}

.signin{
    width: 80px;
    height: 22px;
    position: absolute;
    right: 20px;
}