@import "../../styles/media.scss";
.tag{
    margin-left: 4px;
    margin-bottom: 4px;
    margin-top: 10px;
}
.content{
    margin-top: 4px;
}

.content p{
    margin-bottom: 4px;
}

.comment{
    background-color: #2965CC;
    color: white;
    margin: 0px 0px 4px 4px;
}

.view{
    background-color: #238C2C;
    color: white;
    margin: 0px 0px 4px 4px;
}

.thumbs-up{
    background-color: #7157D9;
    color: white;
    margin: 0px 0px 4px 4px;

}

.username{
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 20px;
}
.indexes{
    text-align: right;
    position: relative;
    bottom: 40px;
}