@import "../../styles/media.scss";
.sidebar{
    border: 0px solid black;
    position: fixed;
    top: 124px;
    left: 930px;
    width: 200px;
    height: 400px;
    transition: top 0.3s;
}

@include mobile{
    .sidebar{
        position: relative;
        top: 0px !important;
        left: 20px;
        margin: 20px 0px;
        width: calc(100% - 40px);
        height: auto;
    }
}
@include tablet{
    .sidebar{
        left: 730px;
        // position: relative;
        // top: 0px !important;
        // left: 80px;
        // margin: 20px 0px;
        // width: calc(100% - 40px);
        // height: auto;
    }
}