.wrapper{
    display: flex;
    .textbox{
        flex: 1 auto;
    }
    .writeBtn{
        width: 80px;
        margin-left: 10px;
    }
}
.title{
    padding-left: 0px !important;
    .writeBtn{
        color: #2965CC;
    }
}